# Ignore everything by default
*

# Allow these folders
!figures/

# Allow their contents
!figures/**

# Still ignore macOS junk
**/.DS_Store
.ipynb_checkpoints/

# Ignore scFEA completely (optional; won't hide "modified submodule" messages)
scFEA/
